@CHARSET "UTF-8";
html,body
{
	margin-left:auto;
	margin-right:auto;
	width:75%;
	overflow-x:hidden;
	}


header {
	float:left;
	width:75%;
}

header a {
	text-decoration: none;
  	font: 55px/1 Helvetica, Verdana, sans-serif;
  	text-transform: uppercase;
	color:#000;
	}

.search{
	float:left;
	}
	
#settings {
	padding:11px;
	margin-left: 7px;
	}

#authorize-button {
	float:left;
	text-decoration: none;
	color:#999;
	font: 20px Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	background-color:#FFF;
	border:none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}
 
#LogIn:hover {
	color: #666;
	}
	

ul {
	overflow: auto;
	list-style-type: none;
}
 
li {
	height: 25px;
	float: left;
	margin-right: 0px;
	border-right: 1px solid #aaa;
	padding: 0 20px;
	}
 
li:last-child {
	border-right: none;
}
 
li a {
	text-decoration: none;
	color:#999;
	font: 25px/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}
 
li a:hover {
	color: #666;
	}

li.active a {
	font-weight: bold;
	color: #333;
	}

h2 {
	text-decoration: none;
	font: 22px/1 Helvetica, Verdana, sans-serif;
	}

p {
	text-decoration: none;
	font: 14px/1 Arial, Helvetica, sans-serif;
	}

by{
	text-decoration: none;
	font: 10px/1 Arial, Helvetica, sans-serif;
	}


article {
	width:95%;
}
