@charset "UTF-8";
html,body
{
	margin-left:auto;
	margin-right:auto;
	width:80%;
	overflow-x:hidden;

}
#logReg {
	position: fixed;
	left:80%;
	margin-top:-30px;
}

.Head {
	text-decoration: none;
	color:#000;
	font: 1.3vw/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	background-color:#FFF;
	border:none;
	transition: all 0.5s ease;
	float: left;
	margin-right: 0px;
	padding: 0 1.0vw;
}
	
#logoButtons {
	
}


#authorize-button {
	text-decoration: none;
	color:#999;
	font: 1.3vw/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	background-color:#FFF;
	border:none;
	transition: all 0.5s ease;
	float: right;
	margin-right: 0px;
	padding: 0 1.0vw;
	visibility:hidden;
	
 
	
	}

#logoutButton{
	text-decoration: none;
	color:#999;
	font: 1.3vw/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	background-color: transparent;
	border:none;
	transition: all 0.5s ease;
	float: right;
	margin-right: -10%;
	padding: 0 1.0vw;
	visibility:hidden;


}



#authorize-button:hover {
	color: #666;
}

#settings{
	float:right;	
    background:url(../Metadata/settings.png) no-repeat;
	background-size:1.3vw;

    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none; 
}

img.mainImage {
	width:100%;
	float:left;
	padding-bottom:1.3vw;
	
	
}



	
#logoButtons {
	margin-top:2.0vw;
	
}
	
#searchBox {
	display: table;
    margin: 0 auto;
	width:30%;
	height:1.0vw;

}

::-webkit-input-placeholder {
	text-decoration: none;
	color:#999;
	font: 1.0vw Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	background-color:#FFF;
	letter-spacing:1.6vw;
	display: table;
    margin: 0 auto;
	text-align: center; 
}

	
::-moz-placeholder {
	text-decoration: none;
	color:#999;
	font: 1.0vw/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	background-color:#FFF;
	border: 1px solid #666;
	letter-spacing:1.6vw;
	display: table;
    margin: 0 auto;
	text-align: center;
}
	
	
:-ms-input-placeholder {
	text-decoration: none;
	color:#999;
	font: 1.0vw Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	background-color:#FFF;
	border: 1px solid #666;
	letter-spacing:1.6vw;
	display: table;
    margin: 0 auto;
	text-align: center;
}
	
	
input:-moz-placeholder {
	text-decoration: none;
	color:#999;
	font: 1.0vw Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	background-color:#FFF;
	border: 1px solid #666;
	letter-spacing:1.6vw;
	display: table;
    margin: 0 auto;
	text-align: center;
}


#navigation {
	display: table;
    margin: 0 auto;
	clear:both;
	overflow: hidden;
    white-space: nowrap;
}


ul {
	list-style-type: none;
	display:table;
}
 
li {
	display:table-cell;
	float: left;
	border-right: 1px solid #aaa;
	padding: 0.1vw 0.8vw;

}

a {
	cursor: pointer;
}
 
li:last-child {
	border-right: none;

}

li a {
	display:block;
	text-decoration: none;
	color:#999;
	font: 1.3vw/1 Helvetica, Verdana, sans-serif;

	text-transform: uppercase;
	transition: all 0.5s ease;
}
 
li a:hover {
	color: #666;
}

li.active a {
	font-weight: bold;
	color: #333;
}

div.clear{
	clear:both;
	height:1.0vw;
}

div.profile {
	width: 100%;
	}
	
	
div.profileSettings {
	float:left;
	width:25%;
	background-color:#FFF;
	
	}
	
div.profileOptions {
	float:right;
	background-color:#FFF;
	width: 74%;
	border-left: 1px solid #999;
	}
 
li.profileList {

	margin-bottom:1.0vw;
	padding:0.8vw;
	border:none;

	}

li.profileList a {
	text-decoration: none;
	color:#999;
	font: 1.0vw/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	transition: all 0.5s ease;
	float:left;
	}
	
legend {
	text-decoration: none;
	color:#333;
	font: 0.8vw/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	transition: all 0.5s ease;
}
	
 
li.profileList a:hover {
	color: #666;
	}

li.profileList.active a {
	font-weight: bold;
	color: #666;
	}
	


#editingFieldset {
    background-color: #eee;
	width:75%;
}
	
	
#titleBar {
	overflow: hidden;
	width:100%;
}

label.titleText {

	padding-bottom:4vw;
	text-decoration: none;
	color:#333;
	font: 0.7vw/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	transition: all 0.5s ease;
}

#titleInput {
	width:99%;
	height:0.9vw;
}

#previewInput {
	width:99%;
	height:0.9vw;
	
}

#Image {
	width:99%;
	height:0.9vw;
}

#titlePreview {
	overflow: hidden;

	width:100%;
}

fieldset {

    background: #eee;
	margin-left:1.0vw;

	border:groove solid 1px;
	width:94%;

}

#textArea {
	height:15.0vw;
	width:99%;
	resize:vertical;
}

#articlesubmit {
	
	text-decoration: none;
	color:#666;
	font: 0.8vw/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	background-color:#FFF;
	border:none;
	transition: all 0.5s ease;
	float: left;
	margin-left:0.3vw;
	margin-right: 0px;
	padding: 0 1.0vw;
	cursor:pointer;

}

#Cancel {
		
	text-decoration: none;
	color:#666;
	font: 0.8vw/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	background-color:#FFF;
	border:none;
	transition: all 0.5s ease;
	float: left;
	margin-right: 0px;
	padding: 0 1.0vw;
	cursor:pointer;
}

